@import "messages.css";

body {
	overflow: hidden;
	background:  url('/assets/img/paper/windows_vista_background.jpg');
	background-size: cover;
	font-size: 16px;
	font-family: 'Gotham';
	font-weight: lighter;
}

br {
	height: 1em;
}

#sketch {
	position: relative;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.mainWindow {
	position: relative;
	width: 900px;
	height: 560px;
	background: url('/assets/img/paper/conmods_baackground_dashboard_JUSTBACKGROUND.png');
	background-size: 102%;
	background-repeat: no-repeat;
/*	border: 3px outset black;
	border-radius: 5px;*/
	top:  50%;
	left:  50%;
	transform:  translate(-50%, -50%);

}

.mainWindow h1 {
	margin: 0;
	height: 1.125em;
	padding: 0.34em 0.67em;
	font-style: italic;
	background: url('/assets/img/paper/conmods_baackground_whitebar_nocontent.png');
	background-size: cover;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.mainWindow h1 .logo {
	height: 1.125em;
	width: 3em;
	background: url('/assets/img/paper/logo.png');
	background-size: contain;
}

.mainWindow h1 .indicator {
	height: 36px;
	width: 36px;
	background: url('/assets/img/paper/indicator-black.png');
	background-size: contain;
}

.mainWindow h1 .indicator.blink {
	animation-name: 'blinker';
	animation-duration: 600ms;
	animation-iteration-count: 3;
}

@keyframes blinker {
	from {
		background: url('/assets/img/paper/indicator-red.png');
		background-size: contain;
	}

	to {
		background: url('/assets/img/paper/indicator-black.png');
		background-size: contain;
	}
}

.ai_counter {
	background: url('/assets/img/paper/side_layoutbox.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 3em 1em;
	margin: 7em 0 0 2em;
}

.mainWindow .postDiv {
	position: relative;
	top: 60px;
	left: 50%;
	font-family: 'Gotham';
	font-size: 12px;
	border: 1px solid black;
	border-radius: 2px;
	padding: 0.5em;
	box-sizing: border-box;
	background: rgb(240, 240, 240);
	width: 320px;
	transform: translateX(-50%);
	height: 190px;
	display: flex;
  word-break: break-word;
}

.mainWindow .controls {
	position: relative;
	top: 100px;
	display: flex;
	justify-content: space-around;
}

.mainWindow .rateButton {
	width: 100px;
	height: 40px;
	font-family: 'Gotham';
	font-weight: lighter;
	text-align: center;
}

.mainWindow .menu {
	position: absolute;
	width: 220px;
	height: 140px;
	background: rgb(240, 240, 240);
	border: 1px solid black;
	border-radius: 2px;
	font-family: 'Gotham';
	z-index: 10;
	top: 88px;
	right: -14px;
}

.mainWindow .menu ul {
	list-style-type:  none;	
	padding-left: 20px;
}

.mainWindow .menu ul li:hover {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.mainWindow .mainDisplay {
	display: grid;
    grid-template-columns: 26% 48% 26%;
}

.mainWindow .mainDisplay > div {
	/*border: 1px solid black;*/
	height: 420px;
}

.mainWindow .mainDisplay .postDisplay {
	background: url('/assets/img/paper/dashboard_bigcenterbox.png');
	background-size: 390px 390px;
	background-repeat: no-repeat;
	background-position: center;
}

.mainWindow .mainDisplay .postDisplay .content {
	position: relative;
	/*border:  1px solid black;*/
	width: 370px;
	height: 375px;
	top: 21px;
	left: 28px;
}

.avatar {
	width: 36px;
	height: 36px;
	min-width: 36px;
	min-height: 36px;
	margin: 0 0.5em;
}

.avatar.square {
	background: url('/assets/img/paper/square_userscreenJUST_SQ.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.avatar.triangle {
	background: url('/assets/img/paper/7.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.avatar.circle {
	background: url('/assets/img/paper/8.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.avatar.hex {
	background: url('/assets/img/paper/9.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.mainWindow .newTickets {
	background: url('/assets/img/paper/small_top_sidelayoutbox.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 1em;
	padding: 1em;
	width: 180px;
	height: 40px;
}

.mainWindow .timerDisplay {
	width: 180px;
	height: 80px;
	margin-top: 1em;
	padding: 1em;
	background: url('/assets/img/paper/middle_side_layoutbox.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.mainWindow .timerDisplay .timer {	
	font-family:  'Digital7';
	font-size: 32px;
	font-style: italic;
	text-align: center;
}

.mainWindow .stats {
	width: 180px;
	height: 140px;
	margin-top: 1em;
	padding: 1em;
	background: url('/assets/img/paper/side_layoutbox.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.hidden {
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1000;
}

.round-over-alert {
	position: fixed;
	top: 50%;
	left: 50%;
	background: url('/assets/img/paper/side_layoutbox.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: 240px;
	height: 180px;
	text-align: center;
	line-height: 180px;
	font-size: 1.5em;
	transform: translate(-50%,-50%);
	pointer-events: none;
}

@media (min-width: 1441px) {
  body {
    font-size: 1.25em;
  }
  
  .mainWindow {
    width: 1012.5px;
    height: 630px;
  }
  
  .mainWindow .controls {
    top: 80px;
  }
  
  .mainWindow .rateButton {
    width: 112px;
  }
  
  .mainWindow .mainDisplay .postDisplay .content {
    left: 56px;
  }
  
  .mainWindow .postDiv {
    font-size: 14px;
    top: 40px;
    height: 220px;
  }
  
  .mainWindow .menu {
    height: 150px;
    top: 78px;
    right: 10px;
  }
}