@import "messages.css";

body {
	overflow: hidden;
	background:  url('/assets/img/paper/windows_vista_background.jpg');
	background-size: cover;
	font-family: 'Gotham';
	font-weight: lighter;
	font-size: 16px;
}

br {
	height: 1em;
}

#wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.mainWindow {
	position: relative;
	width: 900px;
	height: 560px;
	background: url('/assets/img/paper/conmods_baackground_dashboard_JUSTBACKGROUND.png');
	background-size: 102%;
	background-repeat: no-repeat;
/*	border: 3px outset black;
	border-radius: 5px;*/
	top:  50%;
	left:  50%;
	transform:  translate(-50%, -50%);

}

.mainWindow h1 {
	margin: 0;
	height: 1.125em;
	padding: 0.34em 0.67em;
	font-style: italic;
	background: url('/assets/img/paper/conmods_baackground_whitebar_nocontent.png');
	background-size: cover;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.mainWindow h1 .logo {
	height: 1.125em;
	width: 3em;
	background: url('/assets/img/paper/logo.png');
	background-size: contain;
}

.mainWindow .textArea {
	margin: 0 auto;
	width: 640px;
	height: 380px;
	background: url('/assets/img/paper/dashboard_bigcenterbox.png');
	background-size: 640px 380px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	padding: 1.5em;
	box-sizing: border-box;
}

.mainWindow .new_winscreen {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.mainWindow .new_winscreen .ai_results,
.mainWindow .new_winscreen .player_results {
	margin: 0 0.5em;
	padding: 0 0.5em;
}

.mainWindow .new_winscreen .player_results {
	margin-left: 0;
	padding-left: 1em;
	border-left: 1px solid black;
}

@media (min-width: 1441px) {
  body {
    font-size: 1.25em;
  }
  
  .mainWindow {
    height: 630px;
  }
  
  .mainWindow .textArea {
    height: 400px;
  }
}