body {
	overflow: hidden;
	background:  url('/assets/img/bliss-pic.jpg');
	background-size: cover;
	font-family: 'Gotham';
	font-weight: lighter;
	font-size: 16px;
}

#wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#message {
	position: absolute;
	top: 5em;
	left:  1em;
	width: 240px;
	/*height: 60px;*/
	background: linear-gradient(359deg, rgba(20,131,9,1) 0%, rgba(36,198,20,1) 66%, rgba(175,254,167,1) 100%);
	border: 2px outset black;
	border-radius: 4px;
	font-family: 'Gotham';
	font-weight: 200;
	font-size: 0.75em;
	padding: 0.25em;
}

#message h2 {
	font-size: inherit;
	margin: 0;
	font-weight: bold;
}

#dialog {
	position: relative;
	width: 640px;
	height: 480px;
	background: #959595;
	border: 3px outset black;
	border-radius: 5px;
	top:  50%;
	left:  50%;
	transform:  translate(-50%, -50%);
	text-align: center;
}

#dialog h1 {
	margin: 0 0 6em 0;
	font-size: 1.125em;
	padding: 0.34em 0.67em;
	font-style: italic;
	background: rgb(240, 240, 240);
	text-align: left;
}