@import "messages.css";

body {
	overflow: hidden;
	background:  url('/assets/img/paper/windows_vista_background.jpg');
	background-size: cover;
	font-family: 'Gotham';
	font-weight: lighter;
	font-size: 16px;
}

#wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#dialog {
	position: relative;
	width: 640px;
	height: 480px;
	background: url('/assets/img/paper/conmods_baackground_dashboard_JUSTBACKGROUND.png');
	background-size: cover;
	background-repeat: no-repeat;
	top:  50%;
	left:  50%;
	transform:  translate(-50%, -50%);
	text-align: center;
}

#dialog h1 {
	margin: 0 0 3.5em 0;
	height: 1.125em;
	padding: 0.34em 0.67em;
	font-style: italic;
	background: url('/assets/img/paper/conmods_baackground_whitebar_nocontent.png');
	background-size: cover;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

#dialog h1 .logo {
	height: 1.125em;
	width: 3em;
	background: url('/assets/img/paper/logo.png');
	background-size: contain;
}

#dialog h1 .indicator {
	height: 36px;
	width: 36px;
	background: url('/assets/img/paper/indicator-black.png');
	background-size: contain;
}